body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;

background-color: #ffffff;
   
}

a{
text-decoration: none;
}

.main-navigation{
font-size: 16px;
  
line-height: 30px;
  
color: #000000;

  
background-color: #eeeeee;
}

.site-navigation,

.user-navigation{
list-style: none;
}

.site-navigation a,

.user-navigation a {
 
 color: #000000;

}

.site-navigation a:hover,

.site-navigation a:focus,

.user-navigation a:hover,

.user-navigation a:focus {
 
 background-color: #fb565a;

}

.amenities-list{
 
list-style: none; 

}


.button{
display:inline-block;
padding:10px 15px;
}

.left {
background-color: #fb565a;
}

.center {
background-color: #00ca74;
}

.right {
background-color: #efc84a;
}

.slogan{
font-size: 45px;
line-height: 45px;
font-weight: 700;
color: #000000;
}


"basic"{
background-color: #ffffff;
}

.button-inner{
background-color: #fb565a;
display:inline-block;
padding:10px 15px;
}

.pagination-list{
background-color: #eeeeee;
display:inline-block;
padding:10px 15px;
}

.modal-window{
font-weight: 600;
}

.static  {
:before
border-left: 2px #ccc; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */ 
}

.page-title{
margin: 0px;
  padding: 5px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: black;;  
background-color: #eeeeee;  
}
