body {
  position: relative;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: black;

background-color: #ffffff;
   
}

/*Подписи кнопок слайдера*/
.slider-controls{
  display: none;
}
/*Слоган первого слайда*/
.slider-slogan{
  font-size: 55px;
  margin-bottom: 0px;
  margin-top: 40px;
  line-height: 54px;
  margin-left: 0px;
  font-weight: 500;
}

/*Описание первого слайда*/
.slider-description{
margin-top: 26px;
}

/*Кнопки на слайдах*/
.btn-big{
display: inline-block;
padding: 12.5px 15px;
background-color: #fb565a;
color: white;
text-transform: uppercase;
margin-top: 25px;
text-align: center;
width: 211px;
border-radius: 6px;
}

/*Фоновая картинка слайда*/
.slide-switcher {
  background-repeat: no-repeat;
  background-position: 470px -14px;
  background-image: url("../img/nerds-index-slide1.png")
}

.slider-item-1{
  height: 353px;
}


/*Второй слайд (выключен)*/
.slider-item-2{
display: none;
}

/*Третий слайд (выключен)*/
.slider-item-3{
display: none;
}

/*(отключен вид списка, отступ 0) Для списка слайдов*/
.slider-list{
list-style: none;
padding-left:0;
}

/*Флексбокс для промоблока 1*/

.promo-block {
  width: 1200px;
  margin: 0 auto;
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-right: 98px;
  box-sizing: border-box;
  }

/*Заголовок первого промоблока*/
.fonts-promo-item-1{
margin-top: 23px;
margin-bottom: 0px;
font-size: 24px;
}


/*Промоблок (картинка "Сайты")*/
.promo-block-item-1{
  background-image: url("../img/sites1.jpg");
  background-size: 300px 146px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-top: 150px;
  width: 302px;
}


/*Кнопка первого промоблока*/
.left{
  display: inline-block;
  padding: 12.5px 0px;
  background-color: #fb565a;
  color: white;
  text-transform: uppercase;
  margin-top: 18px;
  text-align: center;
  width: 161px;
  border-radius: 4px;
}

/*Второй промоблок (картинка "Приложения")*/
.promo-block-item-2{
  background-image: url("../img/aplications.jpg");
  background-repeat: no-repeat;
  background-size: 300px 146px;
  background-position: 0px 0px;
  width: 302px;
  padding-top: 147px;
}

/*Заголовок второго промоблока*/
.fonts-promo-item-2{
  font-size: 24px;
}

/*Описание второго блока*/
.fonts-promo-item-3{
  margin-top: -6px;
  margin-left: 2px;
  line-height: 24px;
}

/*Кнопка второго промоблока*/
.center{
  display: inline-block;
  padding: 12.5px 0px;
  background-color: #00ca74;
  color: white;
  text-transform: uppercase;
  margin-top: 18px;
  text-align: center;
  width: 160px;
  border-radius: 4px;
}
  /*Третий промоблок (Вставлена картинка "Презентации")*/
.promo-block-item-3 {
  background-repeat: no-repeat;
  background-image: url("../img/presentation.jpg");
  width: 302px;
  padding-top: 147px;
}
  /*заголовок третьего промоблока*/
.fonts-promo-item-4 {
  margin-bottom: 0px;
  font-size: 24px;
  }

  /*Описание третьего промоблока*/
  .fonts-promo-item-5{
    margin-top: 19px;
  }

  /*Кнопка третьего промоблока*/
.right{
  display: inline-block;
  padding: 12.5px 0px;
  background-color: #efc84a;
  color: white;
  text-transform: uppercase;
  margin-top: 18px;
  text-align: center;
  width: 160px;
  border-radius: 4px;
}

/*Общий блок о компании*/
.flex-company{
  padding-right: 62px;
}

/*Блок о компании*/
.slogan-general{
  padding-top: 78px;
}


.main-header{
  padding: 0 20px;
  background-color: #eeeeee;
  text-transform: uppercase;
}

/*��������� (����������������)*/
.site-navigation{
  margin-left: -43px;
  width: 485px;
}

/*������� (����������������)*/
.user-navigation li{
  margin-top: 9px;
  margin-right: 40px;
}

/*�������� ������� ������*/
.image-slider-1{
  position: absolute;
  right: 117px;
  top: 65px;
  height: 352px;
}

/*������ ��� ������� ������*/
.slide-switcher{
  background-color: #eeeeee;
  width: 1200px;
  margin: 0 auto;
  padding: 0 73px;
}


.general-basic{
width: 1200px;
margin: 0 auto;
padding-top: 64px;
}

a{
text-decoration: none;
}

.main-navigation {
width: 1200px;
margin: 0 auto;
display:flex;
align-items:stretch; 

justify-content:space-between; 
}

.site-navigation{
display:flex;
align-items:stretch; 
justify-content:space-around; 
padding: 9px;
}

.main-navigation{
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.user-navigation{
list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #fb565a;
}

.amenities-list{
 list-style: none; 
}

.right {

}

slogan{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
  }


basic{
  background-color: #ffffff;
}

.button-inner{
background-color: #fb565a;
display:inline-block;
padding:10px 15px;
}

.pagination-list{
background-color: #eeeeee;
display:inline-block;
padding:10px 15px;
}

.modal-window{
font-weight: 600;
}

.page-title{
display:flex;
align-items:center;
justify-content:space-around; 
margin: 0px;
  padding: 80px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: black;;  
background-color: #eeeeee;  
}

/*������� � ��������������*/
.numbers{
  font-size: 10,06px;
  font-weight: 700;
  line-height: 20px;
color: rgb(0,0,0);
}

.cell-1{
padding-top: 15px;
padding-right: 10px;
}

.cell-2{
padding-top: 15px;
padding-right: 10px;
}

.cell-3{
padding-top: 15px;
padding-right: 10px;
}

.line-numbers{
font-size: 40px;
}

.line-text{
padding-top: 10px;
font-size: 15px;
}

/*� �������� � ����������, ���������*/

.flex-company{
align-items:stretch; 
display:flex;
flex-direction: row;
justify-content:space-around; 
}

.flex-static{
display: flex;
flex-direction: column;
align-items: center;
justify-content: stretch;
}



/*��������*/

.logotype{
display:flex;
align-items:stretch; 
justify-content:space-around;
} 

/*������*/


.footer-social{
width: 400px;
position: relative;
left: -50px;
display:flex;
align-items:center;
justify-content:space-between; 
position: relative;
left: -62px;
} 

.footer-text{
position: relative;
right: 300px;
}



.footer-social-item {
  border: 1px solid blue;
  width: 400px;
  height: 100px;
  float: left;
  margin-left: 5%;
/*   margin-right: 35%; */
}

.footer-social-item:last-child {
  border: 1px solid green;
  float: right;
  margin-right: 15%;
}

/*�������*/
.catalog{
  display:flex;
  align-items:stretch;
  justify-content:space-around; 
  flex-wrap: wrap;
} 

/*������ ��������*/
.catalog-list{
display:flex;
align-items:stretch;
justify-content:space-around; 
flex-wrap: wrap;
} 


/*����� � ��������*/
map-catalog{
display:flex;
align-items:center;
justify-content:space-around; 
} 


/*����� �������*/
.footer-text{
display: flex;
align-items:center;
justify-content:space-around;
flex-direction: column; 
}
/*���������� ������*/
.social-footer{
display:flex;
align-items:stretch;
justify-content:space-around; 
} 

/*������ ��������� � ��������*/
.pagination-list{
width: 300px;
display:flex;
align-items:stretch;
justify-content:space-around; 
} 

.pagination-list-1{
list-style: none;
display:inline-block;
padding-left: 0px;
margin-left: 0px;
}

.pagination-list-2{
list-style: none;
}

.pagination-list-3{
list-style: none;
}

.pagination-list-4{
list-style: none;
}