body {
  position: relative;
  width: 1200px;
  left: 75px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;

background-color: #ffffff;
   
}

a{
text-decoration: none;
}

.main-navigation {
display:flex;
align-items:stretch; 

justify-content:space-around; 
}

.site-navigation{
display:flex;
align-items:stretch; 
justify-content:space-around; 
padding: 10px;
}

.main-navigation{
font-size: 16px;
  
line-height: 30px;
  
color: #000000;

  
background-color: #eeeeee;
}

.site-navigation,

.user-navigation{
list-style: none;
}

.site-navigation a,

.user-navigation a {
 
 color: #000000;

}

.site-navigation a:hover,

.site-navigation a:focus,

.user-navigation a:hover,

.user-navigation a:focus {
 
 background-color: #fb565a;

}

.amenities-list{
 
list-style: none; 

}


.button{
display:inline-block;
padding:10px 15px;
}


.left {
background-color: #fb565a;
}

.center {
background-color: #00ca74;
}

.right {
background-color: #efc84a;
}

.slogan{
font-size: 45px;
line-height: 45px;
font-weight: 700;
color: #000000;
}


"basic"{
background-color: #ffffff;
}

.button-inner{
background-color: #fb565a;
display:inline-block;
padding:10px 15px;
}

.pagination-list{
background-color: #eeeeee;
display:inline-block;
padding:10px 15px;
}

.modal-window{
font-weight: 600;
}

.page-title{
display:flex;
align-items:center;
justify-content:space-around; 
margin: 0px;
  padding: 80px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: black;;  
background-color: #eeeeee;  
}

.nerds-image{

}


.static-title{
}
/*Колонка с приемуществами*/
.numbers{
  font-size: 10,06px;
  font-weight: 700;
  line-height: 20px;
color: rgb(0,0,0);
}

.cell-1{
padding-top: 15px;
padding-right: 10px;
}

.cell-2{
padding-top: 15px;
padding-right: 10px;
}

.cell-3{
padding-top: 15px;
padding-right: 10px;
}

.line-numbers{
font-size: 40px;
}

.line-text{
padding-top: 10px;
font-size: 15px;
}

/*О компании и статистика, флексбокс*/

.flex-company{
align-items:stretch; 
display:flex;
flex-direction: row;
justify-content:space-around; 
}

.flex-static{
display: flex;
flex-direction: column;
align-items: center;
justify-content: stretch;
}

/*Промоблок*/

.promo-block{
display:flex;
align-items:baseline; 
justify-content:space-around; 
padding-bottom: 40px;
}

/*Логотипы*/

.logotype{
display:flex;
align-items:stretch; 
justify-content:space-around;
} 

/*Карта на главной*/
.map{
display:flex;
align-items:stretch; 
justify-content:space-around;
flex-direction: column;
} 

/*Подвал*/


.footer-social{
width: 400px;
position: relative;
left: -50px;
display:flex;
align-items:center;
justify-content:space-between; 
position: relative;
left: -62px;
} 

.footer-text{
position: relative;
right: 300px;
}

}
/*Каталог*/
.catalog{
display:flex;
align-items:stretch;
justify-content:space-around; 
flex-wrap: wrap;
} 

/*Список каталога*/
.catalog-list{
display:flex;
align-items:stretch;
justify-content:space-around; 
flex-wrap: wrap;
} 


/*Карта в каталоге*/
map-catalog{
display:flex;
align-items:center;
justify-content:space-around; 
} 


/*Давай дружить*/
.footer-text{
display: flex;
align-items:center;
justify-content:space-around;
flex-direction: column; 
}
/*Социальные кнопки*/
.social-footer{
display:flex;
align-items:stretch;
justify-content:space-around; 
} 

/*Кнопки навигации в каталоге*/
.pagination-list{
width: 300px;
display:flex;
align-items:stretch;
justify-content:space-around; 
} 

.pagination-list-1{
list-style: none;
display:inline-block;
padding-left: 0px;
margin-left: 0px;
}

.pagination-list-2{
list-style: none;
}

.pagination-list-3{
list-style: none;
}

.pagination-list-4{
list-style: none;
}